.motoristaFotoNombre{
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: stretch;
  
}
.lineaInferior{
    border-bottom: 1px solid black;




}
.panel{


    margin-bottom: 20px;
}