
body{

    font-family: 'Roboto';

}
#encabezado{

    background-color: #EE4040;
    height: 90px;
    font-family: 'Comfortaa', cursive;

}
.menuLogo{

font-size: 35px;
color: white;
margin-right: 10px;


}

.btn-Registrar{
   margin-left: 20px;
   border-radius: 30px 30px 30px 30px;
   padding:3px 30px;
   border: none;
   background-color: white;
}
.centrar-contenido{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
}
.contenidoEncabezadoizquierda{
margin-left: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
}

.contenidoEncabezadoderecha{
    margin-right: 20px;
}

.imgLogo{
    height: 50px;
}

.nombreLogo{
    font-size: 25px;
    margin-bottom: 0px !important;
    margin-left: 10px;
    color: white;
}

.pedido{
    margin-top: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.entregando{
    margin-top: 20px;
    width: 11rem;
}

.entregaContainer{

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
}

.alfiler{
    width: 2.4rem;
}

.imagenes{
    width: 23.3rem;
    padding:1.2rem;
    height: 300px;
    
}

.descargaApp{

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.6px;
line-height: 16px;
text-align: center;
letter-spacing: -0.333333px;
}
#direccion{
    width: 85%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background-color: #F5F5F5;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.finalEncabezado{

    background-color: black;
    padding: 7px;

}
.contenidofinalEncabezadoizquierda{
    margin-top: 25px;
    margin-left: 20px;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* justify-content: flex-start; */
    align-items: center;
    
}
.textoFinalEncabezado{

    margin-left: 20px;


    color: white;
}
.aliniacionTexto{


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      
        align-items: center;
        align-content: stretch;
        margin-left: 15px;
        margin-bottom: 20px;
 

}
.imgLogoFinal{

    height: 100px;
}
.nombreLogoFinal{
    font-size: 40px;
    color: white;


}
.logoRedes{


    height: 40px;
}
.PlayApple{


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
        margin-top: 60px;
        margin-bottom: 40px;


}