

body{

    font-family: 'Comfortaa', cursive;

 
 

}
#encabezado{

    background-color: black;
    height: 90px;
    

}
.menuLogo{

font-size: 35px;
color: white;
margin-right: 10px;


}

.btn-Registrar{

  
    margin-left: 20px;
   border-radius: 30px 30px 30px 30px;
   padding:3px 30px;
   border: none;
   background-color: white;
}
.centrar-contenido{

    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
    

    
}
.contenidoEncabezadoizquierda{


margin-left: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
      
   

 

}
.contenidoEncabezadoderecha{



    margin-right: 20px;

}
.imgLogo{

    height: 50px;


}
.nombreLogo{

    font-size: 25px;
    margin-bottom: 0px !important;
    margin-left: 10px;
    color: white;
}
.trabajaConNosotros{
    margin-top: 80px;
    font-size: 40px;




}
.klipartz{

    
    width: 290px;
    
    
}
.klipartzContenedor{

    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
    
}
.finalEncabezado{

    background-color: black;
    padding: 7px;

}
.contenidofinalEncabezadoizquierda{
    margin-top: 25px;
    margin-left: 20px;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* justify-content: flex-start; */
    align-items: center;
    
}
.textoFinalEncabezado{

    margin-left: 20px;


    color: white;
}
.aliniacionTexto{


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      
        align-items: center;
        align-content: stretch;
        margin-left: 15px;
        margin-bottom: 20px;
 

}
.imgLogoFinal{

    height: 50px;
}
.nombreLogoFinal{
    font-size: 25px;
    color: white;


}
.logoRedes{


    height: 40px;
}
.PlayApple{


        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
        margin-top: 60px;
        margin-bottom: 40px;


}

.padre{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        align-content: stretch;
    }
.contenerEncabezadoCuerpo{
    position: relative;
    overflow-x: hidden;
}
.barralateral{
    padding: 0px;
    background-color: #E5E5E5;
height: 100%;
position:absolute;

z-index: 2;
display: none;


    
}

.pantallanegra{
position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(12, 7, 7, 0.84);
    display: none;
   

}
.Iniciar-Sesion{

height: 90px;
    background-color: rgb(26, 110, 167);
    color: white;
   
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
   
}
.cerrar{


    color: white;
    float: right;
    padding: 20px;
}
.logoBarra{


    bottom: 0px !important;
    position: absolute !important;
    padding: 40px;
}
.registroMotorista{



 
   
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: flex-end;
  
 
}
.divRegistrarMotorista{

    margin-bottom: 10px;
    width: 100%;


}
.modal-content{

    width: 80% !important;

    
    
}
.inputRegistrarMotorista{

    width: 100%;
    height: 50px;
    border: 0px;
    background-color: #F0F0F0;
}
.btnContinuar{
padding: 10px;
    width: 100%;
    background-color: black;
    color: white;
}
.modal-header{

    border-bottom: 0px !important;
}
@media (max-width: 580.98px){
    .imgLogo{

        height: 35px;
    margin-bottom: 3px black solid;
    
    }
    .btn-Registrar{

  
        margin-left: 20px;
      
       padding:3px 13px;
      
    
    }
    .nombreLogo{
    
        font-size: 17px;
        margin-bottom: 0px !important;
        margin-left: 10px;
        color: white;
    }

#barralateral{

    width: 100%;

}
.pantallanegra{
   
    
        display: none;
       
    
    }


    
}
.modal-dialog-centered {
  
    justify-content: space-around;

}
.rayaInferior{

    margin-top: 50px;
    width: 100%;
    border-bottom: 1px solid #0000006b;
}
.modal-footer {
  
  border-top: none;}
  
 
